@media screen and (max-width: 991px) {
  .main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-title {
    font-weight: bold;
    font-size: 22px;
  }

  /* Header */
  .header__inner {
    padding: 32px 16px;
    justify-content: center;
  }

  .header__branch {
    transform: rotate(15.76deg);
    width: 162px;
    top: -70px;
    left: -48px;
  }

  .header__pill {
    display: none;
  }

  .logo__image {
    width: 228px;
  }

  .header__contacts {
    display: none;
  }

  /* Banner */
  .banner {
    height: 448px;
    padding: 30px;
    background-position: center;
  }

  .banner__title {
    font-size: 32px;
    line-height: 42px;
  }

  .banner__title-small {
    font-size: 32px;
    line-height: 42px;
  }

  /* About */
  .about__inner {
    padding-top: 64px;
    padding-bottom: 32px;
    flex-direction: column;
    gap: 32px;
    overflow-x: hidden;
  }

  .about__txt {
    width: 100%;
    padding-right: 0;
  }

  .about__txt-branch {
    display: block;
  }

  .about__activity {
    display: none;
  }

  .about__activity--mobile {
    display: block;
  }

  .about__image-contaner {
    width: 100%;
  }

  .about__image-branch {
    transform: rotate(15.76deg);
    left: -56px;
    width: 162px;
    bottom: -62px;
  }

  .about__activity-title {
    margin-top: 32px;
  }

  /* Principles */
  .principles__inner {
    padding-bottom: 64px;
  }

  .principles__list {
    flex-direction: column;
  }

  .principles__branch {
    display: none;
  }

  .principles__pill {
    transform: rotate(15deg);
    bottom: -48px;
    right: 60px;
    left: auto;
  }

  /* Services */
  .services {
    overflow-x: hidden;
  }

  .services__inner {
    padding-bottom: 64px;
  }

  .services__list {
    flex-direction: column;
  }

  .services__item {
    background-color: var(--main-color);
    color: white;
    box-shadow: 0px 2px 8px rgb(0 130 74 / 39%), 0px 10px 32px rgb(0 130 74 / 20%);
  }

  .services__item-title {
    font-weight: 600;
  }

  .services__item-icon-container {
    left: 32px;
    background-color: var(--secondary-color);
    box-shadow: 0px 2px 8px rgba(235, 38, 41, 0.39), 0px 10px 32px rgba(235, 38, 41, 0.2);
  }

  .services__pill {
    display: none;
  }

  .services__branch {
    transform: rotate(15deg);
    width: 152px;
    bottom: -52px;
    right: -65px;
  }

  /* Partners */
  .partners-carousel__navs {
    left: 0;
    right: 0;
  }

  /* Consultation */
  .consulation__inner {
    padding-top: 240px;
    padding-bottom: 40px;
  }

  .consultation__branch--top {
    display: none;
  }

  .consultation__pill--top {
    display: none;
  }

  .consulation__form-image {
    display: none;
  }

  .consultation__branch--bottom {
    display: none;
  }

  .consultation__pill--bottom {
    display: none;
  }

  .consulation__box {
    padding: 32px;
  }

  .consulation__box-image {
    display: block;
  }

  .consulation__title br {
    display: none;
  }
  
  .consulation__form {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .consulation__submit {
    width: 100%;
  }

  /* Location */
  .location__pill {
    bottom: -46px;
    top: auto;
    right: 20px;
    left: auto;
  }

  .location__branch {
    width: 162px;
    left: -56px;
    top: 20px;
    transform: rotate(15.76deg);
  }

  /* Footer */
  .footer__inner {
    flex-direction: column;
    padding: 32px 16px;
    gap: 20px;
  }

  .footer__copyright {
    margin: 0;
  }

  .footer__contacts {
    flex-direction: column;
  }
}